.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  background: #f9f9f9;
  min-height: 80vh;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.hero-left h2 {
  font-size: 22px;
  font-weight: 600;
  color: #ff4d4d;
  letter-spacing: 1.5px;
}

.hand-hand-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hand-hand-icon p {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.hand-hand-icon img {
  width: 40px;
  height: 40px;
}

.hero-left p {
  font-size: 50px;
  font-weight: 700;
  color: #333;
  margin: 5px 0;
  line-height: 1.2;
}
.hero-latest-btn {
  display: inline-flex;
  align-items: center;
  width: 200px ;
  gap: 12px;
  background: #ff4d4d;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-latest-btn:hover {
  background: #e63e3e;
}

.hero-latest-btn img {
  width: 18px;
  height: 18px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .hero {
    padding: 30px 40px;
  }

  .hand-hand-icon p,
  .hero-left p {
    font-size: 36px;
  }

  .hero-left h2 {
    font-size: 18px;
  }

  .hero-latest-btn {
    font-size: 14px;
    padding: 10px 16px;
  }
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-left {
    align-items: center;
    max-width: 100%;
  }

  .hand-hand-icon p,
  .hero-left p {
    font-size: 28px;
  }

  .hand-hand-icon img {
    width: 30px;
    height: 30px;
  }

  .hero-latest-btn {
    margin: 15px auto 0;
  }
  .hero-right {
    display: none;
  }
}
