.all-products {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
}

.all-products h1 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.allproducts-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 50px;
}
