.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 0px 16px blue;
  
}

.item img {
  width: 100%;
  height: 250px;     
  object-fit: contain;  
  border-radius: 10px;
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
  text-align: center;
  min-height: 40px; /* naam uneven hone par bhi height equal रहे */
}

.item-prices {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.item-price-new {
  font-size: 18px;
  font-weight: 600;
  color: #e60023; 
}

.item-price-old {
  font-size: 14px;
  color: #888;
  text-decoration: line-through;
}
