.latest-collection-page {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 60px 20px;
  background-color: #fafafa;
}

.latest-collection-page h1 {
  color: #222;
  font-size: 2.4rem;
}

.latest-collection-page hr {
  width: 120px;
  height: 4px;
  border: none;
  border-radius: 10px;
  background-color: #ff4141;
  margin: 10px auto 25px;
}

.latest-collection-page p {
  color: #555;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.latest-collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  justify-items: center;
}

@media (max-width: 768px) {
  .latest-collection-page h1 {
    font-size: 1.8rem;
  }
  .latest-collection-grid {
    gap: 20px;
  }
}
.banner-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  margin-bottom: 40px;
}
.latest-banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.banner-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.banner-overlay p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .banner-wrapper {
    height: 250px;
  }

  .banner-overlay h1 {
    font-size: 26px;
  }

  .banner-overlay p {
    font-size: 14px;
  }
}
