.payment-page {
  max-width: 450px;
  margin: 60px auto;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  transition: 0.5s ease-in-out;
  margin-top: 90px;
}

.payment-page h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 8px;
}
.payment-page p {
  color: #666;
  font-size: 15px;
  margin-bottom: 20px;
}


.payment-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.payment-options label {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.payment-options input[type="radio"] {
  accent-color: #4caf50;
  cursor: pointer;
}


.card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  animation: fadeIn 0.4s ease-in-out;
}

.card-details input {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

.card-details input:focus {
  border-color: #4caf50;
}

.card-extra {
  display: flex;
  gap: 10px;
}


.pay-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.pay-btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}


.flower-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.5s ease-in-out;
}

.flower-img {
  width: 130px;
  height: 130px;
  margin-bottom: 15px;
  animation: bloom 1.5s ease-in-out infinite alternate;
}

.flower-popup h2 {
  color: #4caf50;
  font-size: 22px;
  font-weight: 600;
}


@keyframes bloom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 500px) {
  .payment-page {
    margin: 40px 15px;
    padding: 20px;
  }

  .pay-btn {
    font-size: 15px;
  }
}
.track-location-btn{
  height: 40px;
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}