
.footer {
  width: 100%;
  background: lightgray;
  color: black;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.footer-logo p {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.footer-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: rgb(50, 50, 240);
}

.footer-social-icon {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.footer-icons-container {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.footer-icons-container img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer-icons-container:hover {
  background: linear-gradient(to right, rgb(92, 92, 238),red);
  transform: scale(1.1);
}

.footer hr {
  width: 100%;
  border: 0.5px solid #333;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  text-align: center;
  color: blue;

}
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-links {
    gap: 15px;
    flex-wrap: wrap;
  }

  .footer-social-icon {
    gap: 15px;
  }

  .footer-logo p {
    font-size: 20px;
  }
}
.footer-links{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.footer-links li{
  position: relative;
}

.footer-links li a{
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  color: red;

  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
}

.footer-links li a::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;

  background: linear-gradient(
    90deg,
    red,
    blue,
    purple,
    green,
    red
  );
  background-size: 300% 300%;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  animation: walkBorder 3s linear infinite;
}

.footer-links li a:hover{
  box-shadow: 0 0 10px rgba(255,0,0,0.6);
  transform: translateY(-2px);
  transition: 0.3s;
}

@keyframes walkBorder{
  0%{
    background-position: 0% 50%;
  }
  100%{
    background-position: 300% 50%;
  }
}

