.popular {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.popular h1 {
  color: #171717;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.popular hr {
  width: 120px;
  height: 3px;
  border: none;
  border-radius: 10px;
  background: #252525;
  margin-bottom: 30px;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  justify-items: center; 
  box-sizing: border-box;
}
